<form action="#" class="row justify-content-center">
  <div class="row my-3">
    <div class="col-6">
      <h4>Ajouter une tâche</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <input type="text" class="form-control" placeholder="Titre">
    </div>
  </div>
  <div class="row my-3">
    <div class="col-6">
      <select class="form-select" name="status" id="status">
        <option value="DONE">À Faire</option>
        <option value="DONE">En cours</option>
        <option value="DONE">Fait</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <textarea class="form-control" rows="5" placeholder="Description..."></textarea>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6 text-center">
      <button class="btn btn-primary">Enregistrer</button>
    </div>
  </div>
</form>
